<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Dyod</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Please give access</string>
	<key>NSContactsUsageDescription</key>
	<string>Permission must be enabled to fetch contacts</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Xizmatlarimiz sifatini yahshilash maqsadida, ilova sizning turgan manzilingizni olishga ruxsat berishingiz kerak.</string>
	<key>NSLocationUsageDescription</key>
	<string>Xizmatlarimiz sifatini yahshilash maqsadida, ilova sizning turgan manzilingizni olishga ruxsat berishingiz kerak.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Xizmatlarimiz sifatini yahshilash maqsadida, ilova sizning turgan manzilingizni olishga ruxsat berishingiz kerak.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Xizmatlarimiz sifatini yahshilash maqsadida, ilova sizning rasmlar kutubxonangizga kirishga ruxsat berishingiz kerak</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Xizmatlarimiz sifatini yahshilash maqsadida, ilova sizning rasmlar kutubxonangizga kirishga ruxsat berishingiz kerak</string>
	<key>UIAppFonts</key>
	<array>
		<string>poppins.regular.ttf</string>
		<string>poppins.semibold.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>location-services</string>
		<string>magnetometer</string>
		<string>gps</string>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
